<div id="<%= dom_id do_app %>">
  <p>
    <strong>Title:</strong>
    <%= do_app.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= do_app.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= do_app.status %>
  </p>

</div>
